<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>
<h2 id="t">test</h2>
<script type="text/javascript">

        namespace = '/test_conn';
       // var socket_url =  'http://' + document.domain + ':' + location.port + namespace
        var socket_url =  'http://' + document.domain + ':5000' + namespace
        console.log(socket_url)
        var socket = io.connect(socket_url);
        console.log(socket)
          /*
        socket.emit('request_for_response', {data: "test"});

       socket.on('response', function(msg){
              var t = msg.data;
              $("#t").text($("#t").text()+" ("+ t +")")
        })
        */
        console.log(socket)
</script>
</body>
</html>
